---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-pvc-alertmanager
  namespace: monitoring
  labels:
    app: alertmanager
  annotations:
    volume.beta.kubernetes.io/storage-class: "freenas-nfs-csi"
spec:
  storageClassName: freenas-nfs-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 128Mi
