---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
  labels:
    app: grafana
data:
  prometheus.yaml: |-
    apiVersion: 1
    datasources:
    - access: proxy
      editable: true
      name: Prometheus
      orgId: 1
      type: prometheus
      url: http://prometheus-service.monitoring.svc:9090
      version: 1
