[defaults]
inventory = ./inventory
vault_password_file = ./vault.key

# Use YAML callback plugin for a better CLI experience
stdout_callback = yaml

# Ansible best practices: using project-local collections and roles.
# Installs roles into [current dir]/roles/namespace.rolename
roles_path = ./roles
# Installs collections into [current dir]/collections/ansible_collections/namespace/collection_name
collections_paths = ./collections

remote_user = ansible
remote_port = 22
host_key_checking = False
timeout = 5
scp_if_ssh = True

[privilege_escalation]
become=False
become_method=sudo
become_user=root
become_ask_pass=False
